#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [2]:
# Your code here:
packing_machine = pd.read_csv('ttest_machine.txt', sep = ' ')

In [3]:
packing_machine.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [4]:
# H0 = The packing time of old >= packing time of the new machine
# H1 = The packing time of the old < the new machine

stat, pvalue = st.ttest_ind(packing_machine['Old_machine'],packing_machine['New_machine'], equal_var=False)

In [15]:
print("Statistic is ", stat, "p value is: ", pvalue/2)

Statistic is  3.3972307061176026 p value is:  0.00162112473315899

In [17]:
#"The data provides sufficient evidence to show that the new machine packs cartons faster on average than the machine currently 
#used."

### Matched Pairs Test

In [19]:
pokemon_data = pd.read_csv('pokemon.txt')

In [21]:
display(pokemon_data.head())

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [28]:
# Your code here:
pokemon_data = pd.read_csv('pokemon.txt')

In [29]:
display(pokemon_data.head())

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [31]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    for feature in features:
        # Perform t-test for each feature
        t_stat, p_value = st.ttest_ind(s1[feature], s2[feature], equal_var=False)
        results[feature] = p_value

    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [32]:
# Your code here
# Splitting the dataset into Legendary and non-Legendary samples
legendary_pokemon = pokemon_data[pokemon_data['Legendary'] == True]
non_legendary_pokemon = pokemon_data[pokemon_data['Legendary'] == False]

# Using the t_test_features function to conduct t-tests
t_test_results = t_test_features(legendary_pokemon, non_legendary_pokemon)

print(t_test_results)

{'HP': 1.0026911708035284e-13, 'Attack': 2.520372449236646e-16, 'Defense': 4.8269984949193316e-11, 'Sp. Atk': 1.5514614112239812e-21, 'Sp. Def': 2.2949327864052826e-15, 'Speed': 1.049016311882451e-18, 'Total': 9.357954335957446e-47}

In [33]:
unique_types = pokemon_data['Type 1'].unique()

In [37]:
pokemon_totals = {ptype: pokemon_data[pokemon_data['Type 1'] == ptype]['Total'] for ptype in unique_types}

f_stat, p_value = st.f_oneway(*pokemon_totals.values())

print("F-statistic:", f_stat)
print("P-value:", p_value)

F-statistic: 4.63876748166055
P-value: 2.077215448842098e-09

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [8]:
# Your comment here
# For both analyses, the obtained p-values are extremely small, well below the typical significance level of 0.05, indicating 
# strong evidence against the null hypothesis.
# The t-test suggests significant differences in stats between Legendary and non-Legendary Pokémon.
# The ANOVA test suggests significant differences in Total values among various Pokémon types.
# This indicates that there are statistically significant variations in stats between Legendary and non-Legendary Pokémon, 
# as well as significant differences in Total values 
# across different Pokémon types

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [41]:
# Your code here
# Splitting the dataset into Generation 1 and Generation 2 samples
gen1_pokemon = pokemon_data[pokemon_data['Generation'] == 1]
gen2_pokemon = pokemon_data[pokemon_data['Generation'] == 2]

# Using the t_test_features function to conduct t-tests
t_test_results_gen = t_test_features(gen1_pokemon, gen2_pokemon)

display(t_test_results_gen)

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104388,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

In [10]:
# # Your comment here
# There is evidence to suggest that the Speed stat differs significantly between Generation 1 and Generation 2 Pokémon. However, 
# for the other stats(HP, Attack, Defense, Sp. Atk, Sp. Def, Total), there isn't sufficient evidence to claim significant 
# differences between the two generations based on these t-tests.
# This analysis suggests that while Speed varies significantly between Generation 1 and Generation 2 Pokémon, other stats appear
# to be relatively similar between these two generations.

#### Compare pokemons who have single type vs those having two types.

In [43]:
# Your code here
# Splitting the dataset into Pokémon with single type and those with dual type
single_type_pokemon = pokemon_data[pokemon_data['Type 2'].isnull()]
dual_type_pokemon = pokemon_data[pokemon_data['Type 2'].notnull()]

# Using the t_test_features function to conduct t-tests
t_test_results_type = t_test_features(single_type_pokemon, dual_type_pokemon)

display(t_test_results_type)

{'HP': 0.11314389855379414, 'Attack': 0.00014932578145948305, 'Defense': 2.7978540411514693e-08, 'Sp. Atk': 0.00013876216585667907, 'Sp. Def': 0.00010730610934512779, 'Speed': 0.02421703281819093, 'Total': 1.1157056505229961e-07}

#### What conclusions can you make?

In [12]:
# There's evidence to suggest that Attack, Defense, Sp. Atk, Sp. Def, and Total stats significantly differ between Pokémon with 
# single type and those with dual types.
# While the difference in Speed might be slightly less pronounced, it's worth noting as it's relatively close to the
# significance level.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [46]:
# Your code here
# Paired t-test for Attack vs. Defense
attack = pokemon_data['Attack']
defense = pokemon_data['Defense']
t_stat_attack_defense, p_val_attack_defense = st.ttest_rel(attack, defense)

# Paired t-test for Sp. Atk vs. Sp. Def
sp_atk = pokemon_data['Sp. Atk']
sp_def = pokemon_data['Sp. Def']
t_stat_sp_atk_def, p_val_sp_atk_def = st.ttest_rel(sp_atk, sp_def)

print("Attack vs. Defense:")
print("T-statistic:", t_stat_attack_defense)
print("P-value:", p_val_attack_defense)
print("\nSp. Atk vs. Sp. Def:")
print("T-statistic:", t_stat_sp_atk_def)
print("P-value:", p_val_sp_atk_def)

Attack vs. Defense:
T-statistic: 4.325566393330478
P-value: 1.7140303479358558e-05

Sp. Atk vs. Sp. Def:
T-statistic: 0.853986188453353
P-value: 0.3933685997548122

#### What conclusions can you make?

In [14]:
# Your comment here
# In summary, while Attack and Defense show significant differences within all Pokémon,
# Special Attack and Special Defense don't exhibit significant differences based on these tests.